CTkMessagebox==2.5
CTkMessagebox==2.5
CTkTable==1.1
CTkTable==1.1
customtkinter==5.2.2
fastapi==0.110.1
numpy==1.24.3
pandas==2.0.3
Pillow==9.5.0
Pillow==10.3.0
pyAesCrypt==6.1.0
pyAesCrypt==6.1.1
pyperclip==1.8.2
Requests==2.31.0
tensorflow==2.15.0
tensorflow_intel==2.15.0
pandas==2.0.3
numpy==3.24.3